@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --jobs-color-foreground-1: #000000;
    --jobs-color-foreground-2: #ffffff;
    --jobs-color-foreground-3: #00000040;
    --jobs-color-foreground-4: #000000d9;

    /* -------------- Color Light Mode -------------- */
    --jobs-color-light-blue-1: #e6f7ff;
    --jobs-color-light-blue-2: #bae3ff;
    --jobs-color-light-blue-3: #91ccff;
    --jobs-color-light-blue-4: #69b4ff;
    --jobs-color-light-blue-5: #4099ff;
    --jobs-color-light-blue-6: #1a34ff;
    --jobs-color-light-blue-7: #0947d9;
    --jobs-color-light-blue-8: #0030b3;
    --jobs-color-light-blue-9: #001c8c;
    --jobs-color-light-blue-10: #001166;
    --jobs-color-light-green-1: #edffed;
    --jobs-color-light-green-2: #bef7c2;
    --jobs-color-light-green-3: #8feb9b;
    --jobs-color-light-green-4: #64de78;
    --jobs-color-light-green-5: #3dd15b;
    --jobs-color-light-green-6: #008a20;
    --jobs-color-light-green-7: #027420;
    --jobs-color-light-green-8: #036821;
    --jobs-color-light-green-9: #00521b;
    --jobs-color-light-green-10: #002b10;
    --jobs-color-light-cyan-1: #e6fffb;
    --jobs-color-light-cyan-2: #b5f5ec;
    --jobs-color-light-cyan-3: #87e8de;
    --jobs-color-light-cyan-4: #5cdbd3;
    --jobs-color-light-cyan-5: #36cfc9;
    --jobs-color-light-cyan-6: #13c2c2;
    --jobs-color-light-cyan-7: #007b80;
    --jobs-color-light-cyan-8: #006366;
    --jobs-color-light-cyan-9: #00474f;
    --jobs-color-light-cyan-10: #002329;
    --jobs-color-light-gray-2: #fafafa;
    --jobs-color-light-gray-3: #f5f5f5;
    --jobs-color-light-gray-5: #d9d9d9;
    --jobs-color-light-red-1: #ff4d4f;
    --jobs-color-light-red-2: #cf1322;

    /* -------------- Color Dark Mode -------------- */
    --jobs-color-dark-blue-1: #000a3e;
    --jobs-color-dark-blue-2: #081a64;
    --jobs-color-dark-blue-3: #00258c;
    --jobs-color-dark-blue-4: #0037b7;
    --jobs-color-dark-blue-5: #1129e1;
    --jobs-color-dark-blue-6: #177ddc;
    --jobs-color-dark-blue-7: #46a1fd;
    --jobs-color-dark-blue-8: #6ebbff;
    --jobs-color-dark-blue-9: #99d6ff;
    --jobs-color-dark-blue-10: #cceeff;
    --jobs-color-dark-green-1: #00240d;
    --jobs-color-dark-green-2: #093b19;
    --jobs-color-dark-green-3: #054f1b;
    --jobs-color-dark-green-4: #0d5d22;
    --jobs-color-dark-green-5: #0e7526;
    --jobs-color-dark-green-6: #0fd837;
    --jobs-color-dark-green-7: #29e34e;
    --jobs-color-dark-green-8: #7bf38b;
    --jobs-color-dark-green-9: #a8f7ad;
    --jobs-color-dark-green-10: #d6ffd6;
    --jobs-color-dark-cyan-1: #112123;
    --jobs-color-dark-cyan-2: #113536;
    --jobs-color-dark-cyan-3: #144747;
    --jobs-color-dark-cyan-4: #185d5d;
    --jobs-color-dark-cyan-5: #167070;
    --jobs-color-dark-cyan-6: #10b2b2;
    --jobs-color-dark-cyan-7: #30c0b7;
    --jobs-color-dark-cyan-8: #56d6c9;
    --jobs-color-dark-cyan-9: #8ae5d9;
    --jobs-color-dark-cyan-10: #c0f0e8;

    /* -------------- Border radius -------------- */
    --jobs-border-radius-1: 16px;
    --jobs-border-radius-2: 32px;
    --jobs-border-radius-3: 48px;
    --jobs-border-radius-4: 64px;
    --jobs-border-radius-full: 9999px;

    /* -------------- Font -------------- */
    --jobs-font-xs: 0.75rem; /* 12px */
    --jobs-font-sm: 0.875rem; /* 14px */
    --jobs-font-base: 1rem; /* 16px (default) */
    --jobs-font-lg: 1.125rem; /* 18px */
    --jobs-font-xl: 1.25rem; /* 20px */
    --jobs-font-2xl: 1.5rem; /* 24px */
    --jobs-font-3xl: 1.875rem; /* 30px */
    --jobs-font-4xl: 2.25rem; /* 36px */
    --jobs-font-5xl: 3rem; /* 48px */
    --jobs-font-6xl: 4rem; /* 64px */
    --jobs-font-7xl: 5rem; /* 80px */
    --jobs-font-8xl: 6rem; /* 96px */
    --jobs-font-9xl: 8rem; /* 128px */
    --jobs-font-10xl: 10rem; /* 160px */
  }
}
