:root {
  --border-radius-s: 8px;

  /* -------------- Border radius -------------- */
  --border-radius-1: 16px;
  --border-radius-2: 32px;
  --border-radius-3: 48px;
  --border-radius-4: 64px;
  --border-radius-full: 9999px;
}
